<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ message }}!
  </h1>

  <!-- <h2><app-test [parentData]='arafat' (childEvent)="message=$event" ></app-test></h2> -->

  <!-- <app-form></app-form> -->

  <!-- <table>
    <tr>
       <td>  Name : </td>
       <td> Status : </td>
    </tr>
    <tr>
         <td> datas.name </td>
         <td> datas.online </td>
    </tr>
  </table> -->



</div>

<!-- <app-rec-form></app-rec-form> -->


